.ident
{
	border: 2px solid #ddd;
	padding:5px;
	background-color: #eee;



}
.entete
{


	transition: font-size 3s;
}
.entete:hover
{
	text-decoration:underline;
	color:red;
	
}
{

}
h3{
	background-color: blue;
	color:white;
	text-overflow: hidden;
}
.sous_titre
{
   text-decoration: none;

}

.icone
{
	background-color:white;
	padding-bottom:10px;
	height:40px;

}

h1
{
	color:red;
	text-decoration: underline;
}

span
{
	color:blue;
}
body
{
	margin:5px;
	padding:5px;
}

ul
{
	list-style-type: none;
	overflow:hidden;
	margin:0;
	padding:0;
    width:100%;
	background-color: black;

}
li{
	float:left;
}
li a
{   
	display:block;
	text-align:center;
	text-decoration:none;
	color:white;
	margin:14px 16px;

}

input[type=text]
{
	width:150px;
	height:15px;
	border-radius: 10
}


footer
{    
	height:200px;
	background-color: black;
	width: 100%;
}

footer h3
{
	text-align:center;
	color:white;}

 input[type =text]
{
	border:2px solid #ddd;
	border-radius:4px;
	width:70%
	padding:60px 60px;
	margin:8px 0px;
	box-sizing:border-box;
	height:25px;
	font-size: 22px;


}

textarea{
	width:100%;
	height:150px;
	height:150px;
	padding:12px 12px;
	box-sizing:border-box;
	border:2px solid #ccc;
	background-color: #f8f8f8;
	resize:none;
}

input[type=button]
{
	background-color: orange;
	border:none;
	color:white;
	padding:10px 15px;
	text-decoration: none;
	margin:4px 2px;
	cursor:pointer;
}

form
{
	border-top: 7px solid green;
	border-bottom: 7px solid green;
}
h4
{
	color:red;
	font-style:italic;
}

.messenger
{
	width:60;
	height:auto;
	background-color: white;
	transition:width 2s;

}

.messenger:hover
{ width:100px;background-color:blue; }

.face
{
	width:40;
	height:auto;
	background-color: white;
	transition:width 2s;

}

.face:hover
{ width:100px;background-color:blue; }
.in
{
	width:37;
	height:auto;
	background-color: white;
	transition:width 2s;

}

.in:hover
{ width:100px;background-color:blue; }

.twitter
{
	width:37;
	height:auto;
	background-color: white;
	transition:width 2s;

}

.twitter:hover
{ width:100px;background-color:blue; }

.whatsapp
{
	width:37;
	height:auto;
	background-color: white;
	transition:width 2s;

}

.whatsapp:hover
{ width:100px;background-color:blue; }

.pint
{
	width:37;
	height:auto;
	background-color: white;
	transition:width 2s;

}

.pint:hover
{ width:100px;background-color:blue; }


span
{
	color:blue;
}


